<template>
    <div class="gameweek">
        <div class="row">
            <div class="col-md-12">
                <h1>Gameweek {{gameweek_number}}</h1>
                <b-table striped :items="gameweek_data"></b-table>
                <p v-if="gameweek_number === 47">Key: (C - Champion), (CW - Cup Winner), (S - Wooden Spoon)</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "GameweekTable",
        props: {
            gameweek_number: Number,
            gameweek_data: []
        },
        created() {
            if (this.gameweek_number === 47) {
                this.gameweek_data[0].user += ' (C)';
                this.gameweek_data[0]._rowVariant = 'warning';
                this.gameweek_data[5].user += ' (CW)';
                this.gameweek_data[5]._rowVariant = 'success';
                this.gameweek_data[this.gameweek_data.length - 1].user += ' (R)';
                this.gameweek_data[this.gameweek_data.length - 1]._rowVariant = 'danger';
            }
        }
    }
</script>

<style scoped>
    .table-warning {
        font-weight: bold;
    }
</style>