<template>
  <div id="app">
    <b-container fluid>
      <b-row class="row">
        <b-col class="col-12">
            <b-row class="row">
              <b-col class="col-12">
                 <h1 id="title">{{title}}</h1>
              </b-col>
            </b-row>
            <b-row class="row">
              <b-col class="col-12">
                <div id="charts">
                  <LineChart :usersGameweeks="usersGameweeks" :numberOfGameweeks="numberOfGameweeks" :totalUsers="totalUsers" />
                  <div v-for="user in userIds">
                    <LineChart :usersGameweeks="usersGameweeks[user]" :numberOfGameweeks="numberOfGameweeks" :totalUsers="totalUsers" />
                  </div>
                </div>
              </b-col>
            </b-row>
            <b-row class="row mt-5 pt-5">
              <b-col class="col-12">
                <div id="tables">
                  <div v-for="gameweek in gameweeks">
                    <GameweekTable :gameweek_number="gameweek.gameweek" :gameweek_data="gameweek.gameweek_data" />
                  </div>
                </div>
              </b-col>
            </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import Vue from 'vue';
  import BootstrapVue from 'bootstrap-vue';
  import 'bootstrap/dist/css/bootstrap.css';
  import 'bootstrap-vue/dist/bootstrap-vue.css';

  import gameweeksJson from '../resources/gameweeks.json';

  import GameweekTable from './components/GameweekTable';
  import LineChart from './components/LineChart';

  Vue.use(BootstrapVue);

  export default {
    name: 'app',
    components: {
      GameweekTable,
      LineChart
    },
    methods: {
        getRandomColor: function() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    },
    data() {
      const gameweeks = [...gameweeksJson];
      const usersGameweeks = {};

      gameweeks.forEach(gameweek => {
          gameweek.gameweek_data.forEach(data => {
            if (usersGameweeks[data.user_id]) {
              usersGameweeks[data.user_id].data.push({
                gameweek_number: gameweek.gameweek,
                rank: data.rank,
                user_id: data.user_id,
                user: data.user,
                team_name: data.team_name
              });
            } else {
              usersGameweeks[data.user_id] = {
                user: data.user,
                lineColor: this.getRandomColor(),
                data: [{
                  gameweek_number: gameweek.gameweek,
                  rank: data.rank,
                  user_id: data.user_id,
                  user: data.user,
                  team_name: data.team_name
                }]
              };
            }
          });
      });

      return {
        title: 'TMSUK PREMIERSHIP 2019-20',
        gameweeks: gameweeksJson,
        usersGameweeks: usersGameweeks,
        userIds: Object.keys(usersGameweeks),
        numberOfGameweeks: 47,
        totalUsers: 23
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
  }

  #title {
    text-align: center;
  }

  #tables {
    padding-left: 10px;
    padding-right: 10px;
  }

</style>
